.cv {
  background-color: #3d3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;

  .main-cv {
    width: 90%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .cv-section {
      &.a {
        width: 100%;
        border: 1px solid black;
        height: max-content;
        .profile-image {
          height: 100%;
          border: 1px solid black;
          aspect-ratio: 1;
        }

        .background {
          flex-grow: 1;
          height: max-content;
          font-size: 25px;
        }

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
      }

      &.b {
        width: 100%;
        height: 5vh;
        border: 1px solid black;
      }

      &.c {
        width: 80%;
        height: 60vh;
        border: 1px solid black;
      }

      &.d {
        width: 20%;
        height: 60vh;
        border: 1px solid black;
      }

      &.e {
        width: 100%;
        border: 1px solid black;
      }

    }
  }
}