.page-content {
  width: 100%;
  padding: 0 80px;

  &.search {
    .main-content {
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-template-rows: 100%;
      width: 100%;
      background-color: white;
      .main-content-left {
        border: 1px solid black;
        width: 100%;
        height: 100%;
      }

      .main-content-right {
        height: 100%;
        width: 100%;
        border: 1px solid black;
        padding:20px;

        .number-of-results {
          padding: 0 20px;
          margin-bottom: 5px;
          font-size: 18px;
          span {
            font-weight: bolder;
          }
        }
        .sort-results {
          padding: 0 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .address-input-wrapper {
            width: 20%;
            height: 35px;
            margin: 0 0 0 10px;

            .address-input-placeholder {
              opacity: 0;
            }
            ::-webkit-scrollbar {
              width: 8px;
              height: 8px;
            }

            .times {
              z-index: 999;
              max-height: 200px;
              .time {
                width: 100%;
                min-height: 40px;
                font-size: 14px;
                max-height: 33px;
                &:hover {
                  background-color: #ececec;
                }
              }
            }
            input {
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 1.5px solid rgba(61, 60, 60, 0.40);
              border-top: 1.5px solid transparent;
              border-radius: 2px;
              caret-color: transparent;
              font-size: 16px;
              cursor: pointer;
              padding: 0 15px;
              color: #3d3c3c;
              &:focus {
                background-color: #ececec;
              }
              &:focus ~ .times {
                transform: scale(1);
              }

              &:not(:focus) ~ .times {
                transform: scale(0);
                transition-delay: 0.2s;

              }
            }
          }

        }
        .results {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 20px 0;

          .product-brief {
            width: calc((100% - 60px) / 4);
            margin: 10px 7.5px;
          }
        }
      }
    }
  }
}